//Variaveis
$cor-branca: #fff;
$cor-preta-claro: #1e1e1e;
$cor-preta: #0d0d0d;
$cor-laranja-claro: #dc7800;
$cor-laranja-escuro: #ff6b00;
$cor-amarelo: #ffb800;
$cor-beje-escuro: #dc790048;
$cor-marrom-claro: #451c01;
$cor-marrom-medio: #2D1D12;