@use '../abstracts/auxiliares' as*;

.footer {
  @include flex($direction: column, $gap: 1rem);
  background-color: $cor-preta;

  @include respond(tablet-grande) {
    @include flex($justify: space-around);
  }

  &__imagem {
    @include flex($justify: center);

    img {
      width: 30rem;
    }
  }

  &__links {
    @include flex($gap: 4rem, $justify: space-around, $align: center);

    @include respond(tablet-grande) {
      @include flex($justify: center, $gap: 3rem, $align: center);
    }

    &-redessociais {
      @include flex($direction: column, $gap: 1rem);

      a {
        @include flex($gap: .4rem, $align: center);
        font-size: 1.2rem;
        color: $cor-branca;
        text-decoration: none;
      }

      img {
        width: 3rem;
      }
    }
  }

  &__navegacao {
    ul {
      @include flex($direction: column, $gap: 1rem);
      list-style: none;

      li a {
        font-size: 1.4rem;
        color: $cor-branca;
        text-decoration: none;
      }
    }
  }
}

.copyrigth {
  text-align: center;
  background-color: gray;
  font-size: 1.2rem;
}