@use '../abstracts/auxiliares' as*;

.footer {
  @include flex($direction: column, $gap: 2rem);
  background-color: $cor-preta;


  &__links {
    @include flex($gap: .6rem, $justify: space-around, $align: center);

    &-redessociais {
      @include flex($direction: column, $gap: 1rem);

      a {
        @include flex($gap: .4rem, $align: center);
        font-size: 1.2rem;
        color: $cor-branca;
        text-decoration: none;
      }

      img {
        width: 3rem;
      }
    }
  }

  &__navegacao {
    ul {
      @include flex($direction: column, $gap: 1rem);
      list-style: none;

      li a {
        font-size: 1.4rem;
        color: $cor-branca;
        text-decoration: none;
      }
    }
  }
}

.copyrigth {
  text-align: center;
  background-color: gray;
  font-size: 1.2rem;
}