@use '../abstracts/auxiliares' as*;

.footer {
  @include flex($direction: column, $gap: 1rem);
  background-color: $cor-preta;
  padding: 2rem 1rem;

  @include respond(tablet-grande) {
    @include flex($direction: row, $justify: space-between, $align: center)
  }

  &__imagem {
    @include flex($justify: center);

    img {
      width: 30rem;
    }

    @include respond(tablet-grande) {
      flex: 1;
    }
  }

  &__links {
    @include flex($gap: 4rem, $justify: space-around, $align: center);

    @include respond(tablet-grande) {
      @include flex($direction: column, $justify: flex-start, $align: flex-start, $gap: 1.5rem);
      flex: 1;
    }

    &-redessociais {
      @include flex($direction: column, $gap: 1rem);

      a {
        @include flex($gap: .4rem, $align: center);
        font-size: 1.2rem;
        color: $cor-branca;
        text-decoration: none;
      }

      img {
        width: 3rem;
      }
    }
  }

  &__navegacao {
    @include respond(tablet-grande) {
      flex: 1;
    }

    ul {
      @include flex($direction: column, $gap: 1rem);
      list-style: none;

      @include respond(tablet-grande) {
        @include flex($direction: row, $gap: 2rem, $align: center);
      }

      li a {
        font-size: 1.4rem;
        color: $cor-branca;
        text-decoration: none;
      }
    }
  }
}

.copyrigth {
  text-align: center;
  background-color: $cor-marrom-medio;
  font-size: 1.2rem;
  color: $cor-branca;
}