@use '../abstracts/auxiliares' as*;

.comofunciona {
  position: relative;
  @include flex($direction: column, $gap: 2rem, $align: center);
  padding: 2rem;

  @include respond(desktop) {
    padding: 10rem 2rem;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(/Imagem/Como\ Funciona.png);
    background-size: cover;
    background-position: center;
    filter: blur(4px);
    z-index: 0;
  }

  &>* {
    position: relative;
    z-index: 1;
  }

  &__titulo {
    @include respond(desktop) {
      font-size: 2.4rem;
    }
  }

  &__metodos {
    @include flex($direction: column, $gap: 2rem);

    &-metodo {
      @include flex($align: center, $gap: 1.5rem);

      img {
        width: 4rem;
      }

      &-textos {
        @include flex($direction: column, $gap: .5rem);

        P:nth-child(1) {
          font-size: 1.5rem;

          @include respond(desktop) {
            font-size: 2rem;
          }
        }

        P:nth-child(2) {
          font-size: 1.3rem;

          @include respond(desktop) {
            font-size: 1.6rem;
          }
        }
      }
    }
  }
}