@use '../abstracts/auxiliares' as*;

.ctafinal {
  @include flex($direction: column, $gap: 2rem, $align: center);
  text-align: center;
  background: linear-gradient(190deg, $cor-preta 50%, $cor-marrom);
  padding: 2rem;

  h3 {
    font-size: 1.7rem;
  }

  p:nth-child(2) {
    font-size: 1.3rem;
  }

  button {
    background-color: $cor-laranja-escuro;
    padding: 1rem;
    border-radius: 1.5rem;
    color: $cor-branca;
    border: none;
    cursor: pointer;
  }

  p:nth-child(4) {
    font-size: 1rem;
  }



}