@use '../abstracts/auxiliares' as*;

.depoimentos {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  justify-content: center;
  gap: 3rem;
  background: linear-gradient(180deg, $cor-preta-medio, $cor-marrom-escuro );
  color: $cor-branca;

  @include respond(desktop) {
    padding: 10rem 2rem;
  }

  &__carrossel {
    width: 100%;
    position: relative;
  }

  &__wrapper {
    overflow: hidden;
    width: 100%;
  }

  &__track {
    display: flex;
    transition: transform .4s ease;

    @include respond(desktop) {
      align-items: center;
      gap: 1.5rem;
    }
  }

  &__cards {
    min-width: 100%;
    flex: 0 0 100%;
    color: $cor-branca;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 2rem;

    @include respond(desktop) {
      flex: 0 0 34%;
      min-width: unset;
      opacity: 0.4;
      transform: scale(0.85);
      transition: opacity .4s ease, transform .4s ease;

      &.active {
        opacity: 1;
        transform: scale(1);
      }
    }

    &-fotos {
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        border-radius: 50%;
        width: 10rem;
        height: 10rem;
      }
    }

    &-estrelas {
      display: flex;
      justify-content: center;
      gap: .3rem;

      img {
        width: 2rem;
      }
    }

    p:nth-child(3) {
      font-size: 1.6rem;

      @include respond(desktop) {
        font-size: 1.8rem;
      }
    }

    p:nth-child(4) {
      font-size: 1.3rem;
      text-align: justify;

      @include respond(desktop) {
        font-size: 1.6rem;
        max-width: 85%;
      }
    }
  }

  &__dots {
    display: flex;
    justify-content: center;
    gap: .8rem;
    margin-top: 2rem;

    span {
      width: 1.2rem;
      height: 1.2rem;
      border-radius: 50%;
      background: $cor-cinza;
      cursor: pointer;
      transition: .3s;
    }

    .active {
      background: $cor-branca;
      transform: scale(1.2);
    }
  }
}