@use '../abstracts/auxiliares' as*;

.hero {
  @include flex($direction: column, $gap: 1.6rem);
  background-image: url(/Imagem/Hero\ mobile.png);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 40rem;
  min-height: 100vh;


  &__textos {
    @include flex($direction: column, $gap: 2rem);
    padding: 12rem 0 0 1.5rem;

    h1 {
      font-size: 3rem;
      max-width: 100%;
    }

    h2 {
      font-size: 1.9rem;
      font-weight: 500;
      max-width: 80%;
    }
  }

  &__botoes {
    @include flex($gap: 1rem);
    padding: 0 1.5rem;

    button {
      font-size: 1.2rem;
      padding: 0.5rem 0.3rem;
      border-radius: 2rem;
      background-color: $cor-laranja-claro;
      border: none;
      color: $cor-branca;
    }

    button:nth-child(2) {
      background-color: $cor-branca;
      border: 0.3rem solid $cor-amarelo;
      color: $cor-preta;
    }
  }
}