@use '../abstracts/auxiliares' as*;

.resultados {
  @include flex($direction: column, $gap: 2rem, $align: center);
  padding: 2rem;
  text-align: center;
  background: linear-gradient(to bottom, $cor-preta-claro 60%, $cor-preta);

  @include respond(desktop) {
    padding: 10rem 2rem;
  }

  &__titulos {
    @include flex($direction: column, $gap: 1.3rem, $align: center);

    h4 {
      font-size: 1.4rem;
      font-weight: 300;
    }
  }

  &__imagens {
    @include flex($direction: column, $gap: 2rem, $align: center);

    @include respond(desktop) {
      @include flex($gap: 3rem, $align: stretch);
    }

    &-marcos {
      @include flex($direction: column, $gap: .6rem, $align: center);
      text-align: center;

      @include respond(desktop) {
        flex: 1; // divide o espaço igualmente entre os dois blocos
      }

      img {
        border-radius: 1rem;
        width: 100%;
      }

      p:nth-child(2) {
        font-size: 1.7rem;

        @include respond(desktop) {
          font-size: 2rem;
        }
      }

      p:nth-child(3) {
        font-size: 1.2rem;
        text-align: justify;

        @include respond(desktop) {
          font-size: 1.4rem;
        }
      }
    }

    &-camila {
      @include flex($direction: column, $gap: .6rem, $align: center);
      text-align: center;

      @include respond(desktop) {
        flex: 1; // divide o espaço igualmente entre os dois blocos
      }

      img {
        border-radius: 1rem;
        width: 100%;
      }

      p:nth-child(2) {
        font-size: 1.7rem;

        @include respond(desktop) {
          font-size: 2rem;
        }
      }

      p:nth-child(3) {
        font-size: 1.2rem;
        text-align: justify;

        @include respond(desktop) {
          font-size: 1.4rem;
        }
      }
    }
  }
}