@use '../abstracts/auxiliares' as*;

.resultados {
  @include flex($direction: column, $gap: 2rem, $align: center);
  padding: 2rem;
  text-align: center;
  background: linear-gradient(to bottom, $cor-preta-claro 60%, $cor-preta);

  &__titulos {
    @include flex($direction: column, $gap: 1.3rem, $align: center);

    h4 {
      font-size: 1.4rem;
      font-weight: 300;
    }
  }

  &__imagens {
    @include flex($direction: column, $gap: 2rem, $align: center);

    &-marcos {
      @include flex($direction: column, $gap: .6rem, $align: center);
      text-align: center;

      img {
        border-radius: 1rem;
      }

      p:nth-child(2) {
        font-size: 1.7rem;
      }

      p:nth-child(3) {
        font-size: 1.2rem;
        text-align: justify;
      }
    }

    &-camila {
      @include flex($direction: column, $gap: .6rem, $align: center);
      text-align: center;

      img {
        border-radius: 1rem;
      }

      p:nth-child(2) {
        font-size: 1.7rem;
      }

      p:nth-child(3) {
        font-size: 1.2rem;
        text-align: justify;
      }
    }
  }
}