@use '../abstracts/auxiliares' as*;

.servicos {
  @include flex($direction: column, $gap: 2.5rem, $align: center);
  padding: 2rem;
  background: linear-gradient(to right, $cor-marrom-medio, $cor-preta-claro 30%);

  @include respond(desktop) {
    padding: 10rem 2rem;
  }

  &__titulo {
    @include respond(desktop) {
      font-size: 2.2rem;
    }
  }

  &__icones {
    @include flex($direction: column, $gap: 2rem);

    @include respond(desktop) {
      @include flex($gap: 2.5rem, $align: stretch);
    }

    &-icone {
      @include flex($direction: column, $gap: 1rem, $align: center);
      border: 1rem;
      border-radius: 2rem;
      max-width: 80%;
      background-color: $cor-beje-escuro;
      padding: 1rem;
      align-self: center;
      text-align: center;

      @include respond(desktop) {
        flex: 1;
        max-width: none; // desativa o limite do mobile no desktop
        align-self: stretch;
      }

      img {
        width: 9rem;
      }

      p:nth-child(2) {
        font-size: 1.9rem;
        font-weight: 600;

        @include respond(desktop) {
          font-size: 2rem;
        }
      }

      p:nth-child(3) {
        font-size: 1.4rem;

        @include respond(desktop) {
          font-size: 1.6rem;
        }
      }
    }
  }
}