@use '../abstracts/auxiliares' as*;

.sobre {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  background: linear-gradient(to bottom, $cor-preta-claro 60%, $cor-marrom-claro);
  padding: 2rem;

  &__textos {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;

    h3 {
      font-size: 1.6rem;
      text-align: center;
    }

    p {
      font-size: 1.3rem;
      max-width: 96%;
      text-align: center;
    }
  }

  &__icones {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    text-align: center;
    color: $cor-laranja-claro;
  }
}