@use '../abstracts/auxiliares' as*;

.sobre {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  background: linear-gradient(to bottom, #1e1e1e 60%, #451c01);
  padding: 3rem;

  &__textos {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;

    h3 {
      font-size: 1.6rem;
      text-align: center;
    }

    p {
      font-size: 1.3rem;
    }
  }

  &__icones {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    text-align: center;
    color: #dc7800;
  }
}